{% extends '/html/homepage.html' %}
{% block content %}
<div class="center">
    <h1>
        Wardrobe
    </h1>
</div>
<div class="oval-container">
    <div class="oval">Shirts</div>
    <div class="oval">Pants</div>
    <div class="oval">Shoes</div>
    <div class="oval">Hats</div>
    <div class="oval">accessories</div>
    <div class="oval">???</div>
</div>
<div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>

{% endblock %}