@media screen and (min-width:750px) {
    .navbar {
        background-color:white;
        display: flex;
        justify-content:space-between ;
        align-items: center;
        height:40px;
        padding: 0 16px;
    }

    .navbar img {
        height:15px;
    }

    .navbar .navlinks {
        display:flex;
        margin-left: auto;
    }

    .navbar a {
        font-size: 25px;
        color:black;
        text-decoration: none;
        white-space: nowrap;
        margin-right:20px;
    }

    .navbar a:hover {
        background-color: black;
        color: white;
    }

    .menu {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: auto;
        text-align: center;
        font-size: 25px;

    }
    
    .menu-item {
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .menu-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        transition: transform 0.3s;
    }
    
    .sub-menu {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .sub-menu.open {
        display: block;
    }
    
    .menu-item.active .menu-icon {
        transform: scaleX(-1);
    }

    .grid-container {
        display:grid;
        grid-template-columns: 350px 65%;
        grid-template-rows: 50px 30px 80px 80px auto;
        column-gap:20px;
        row-gap:20px;
    }

    .logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        

    }

    .weather {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
    }

    .logo p {
        margin: 0;    
        font-size: 70px;
        color: #3562BD;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }



    .welcome p {
        margin: 0;    
        font-size: 40px;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align:center;
        align-self: end;
    }

    .menutitle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-content: center;
        display:flex;
    }

    .menutitle p {
        margin: 0;    
        font-size: 40px;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;

    }

    .outfits {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
        display: grid;
        grid-template-columns: 20% 45% 35%;
        grid-template-rows: auto;
        column-gap:0px;
        row-gap:0px;
    }

    .accessories {
        margin-top:60px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 6;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 150px 150px 150px 150px 150px;
        column-gap:0px;
        row-gap:20px;
        text-align: center;
    }

    .clothing {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 300px 400px 150px;
        column-gap:0px;
        row-gap:0px;
        text-align: center;

    }

    .jackets {
        margin-top: 60px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 6;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px;
        column-gap:0px;
        row-gap:0px;
        text-align: center;

    }

    .footer {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
        text-align: center;
    }

    .hat {
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .necklace {
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .jewelry1 {
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .jewelry2 {
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .jewelry3 {
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 100px;
        

    }
    .top {
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    .bottom {
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .shoes {
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .sweater {
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .jacket {
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .clothing img {
        width: 95%;
        height: 95%;
        object-fit: contain;
    }

    .accessories img {
        width: 80%;
        height: 80%;
        object-fit:contain;
    }

    .jackets img {
        width: 90%;
        height: 90%;
        object-fit:contain;
    }

    .outfitnav {
        grid-row-start: 5;
        grid-row-end: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .outfitnav img {
        width:50%;
        height:50%;
    }

    .wardrobe-container {
        display:grid;
        grid-template-columns:350px 1fr;
        grid-template-rows:120px 120px auto;
    }

    .wardrobe-menu {
        grid-column:1;
        grid-row: 3;
        display: block;
        align-items:start;
        justify-content: center;
        text-align: center;
    }

    .wardrobe-menu ul {
        margin-top: 40px;
        list-style-type: none;
        margin-left:10px;
        text-align: start;
        font-size: 27px;
    }

    .grid {
        display: grid;
        grid-template-rows: 200px;
        grid-auto-rows: 200px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* grid-template-columns: repeat(4, 200px); */
        /* grid-template-rows: 200px auto; */
        gap: 10px;
        grid-column: 2;
        grid-row:3;
        margin-top:-40px;
        }

    .wardrobe-title {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row:1;
        text-align: center;
        justify-content: center;
        object-fit: contain;
        display: flex;
        align-items: flex-end;
    }

    .wardrobe-button {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row:2;
    }

    .wardrobe-button img {
        object-fit:contain;
        width: 30%;
        height: 30%;
        text-align: center;
        justify-content: center;
        display: block;
        margin: auto;
    }
        
        .grid-item {
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 0;
        }
        
        .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        }

        .wardrobe-logo {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row:1;
            text-align: center;
            margin: 0;    
            font-size: 70px;
            color: #3562BD;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }

        .wardrobe-weather {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row:2;
            display: block;
            margin:auto;

        }
}